<h2>Chat</h2>
<br>
<br>

<div>
  <p><strong><%= @question %></strong></p>
  <p>- You</p>
</div>

<div>
  <p><strong><%= @answer %></strong></p>
  <p>- Your Coach</p>
</div>

<br>
<br>

<%= link_to "Ask another question", ask_path %>
