// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-left: 20px;
  font-family: arial;
}

div {
  border-left: 8px solid lightgrey;
  padding-left: 12px;
}
